$BTNCOLOR: #a5c1cc;
$BTNHOVER: #a5c1cc;
$BTNBG: rgba(211, 228, 197, 0.2);
$BGCOLOR: rgba(211,228,197, 0.7);
$HEADER: #F0D8AC;
$BODY: #394666;
$INSET: #F0D8AC;
$FONT: white;
$ALTFONT: black;
$INPUTBORDER: #a5c1cc;

html {
  background-color: $BGCOLOR;
}

.bgimg {
  width: 99vw;
  height: 98vh;
  background-image: url('../../resources/images/bg.jpeg');
  background-attachment: fixed;
  .bgoverlay {
    width: 99vw;
    height: 98vh;
    background-color: $BGCOLOR;
  }
}

.hr {
  height: 2px;
  background: linear-gradient(to right, transparent, black, transparent);
  margin-top: 2%;
  margin-bottom: 2%;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  opacity: 1;
  min-width: 1100px;
}

.content-body {
  background-color: $BODY;
  color: $FONT;
  padding: 5%;
  border: 2px solid $HEADER;
  border-radius: 5px;
}

.button {
  background-color: $BTNBG;
  border: 4px solid $BTNCOLOR;
  color: $FONT;
  padding: 6px 16px;
  border-radius: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
      border: 4px solid $BTNCOLOR;
      border-radius: 18px;
      background-color: $BTNCOLOR;
      color: black;
  }
}

.header {
  margin-bottom: 1%;
  text-align: center;
  background-color: $HEADER;
  border: 3px solid $BODY;
  border-radius: 5px;
  .button {
    color: $ALTFONT;
  }
}

meal-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  .filter1 {
    flex: 1 50%;

    text-align: center;
  }
  .filter2 {
    flex: 1 50%;

    text-align: center;
  }
  .filter-button {
    flex: 2 100%;
    text-align: center;
  }
}

input {
  border-bottom: 3px solid $INPUTBORDER;
  background-color: inherit;
  color: $ALTFONT;
  font-weight: bold;
  transition: 0.3s;
  padding: 3px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  &:focus {
    outline: none;
    border: 3px solid $INPUTBORDER;
  }
}

.meal-info {
  margin: 5%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: $INSET;
  color: $ALTFONT;
  box-shadow: inset 1px 1px 5px 1px black;
  padding: 15px;
  border-radius: 10px 20px;
  .meal-name {
    font-weight: bold;
    font-size: 25px;
    flex: 1 40%;
  }
  .meal-details {
    flex: 1 40%;
  }
  .meal-button {
    flex: 1 1%;
  }
  .meal-calories {
    font-weight: bold;
  }
  meal-edit {
    margin: 1%;
    flex: 2 100%;
    text-align: center;
  }
  .button {
    color: $ALTFONT;
  }
}

.new-form {
  display: flex;
  flex-wrap: wrap;
  .new-meal-name {
    flex: 1 30%;
  }
  .new-details-name {
    flex: 1 30%;
  }
  .new-calories-name {
    flex: 1 30%;
  }
  .new-meal-button {
    flex: 2 100%;
  }
}
